$m-desktop: 1260px;
$m-desktop-medium: 1140px;
$m-desktop-small: 991px;
$m-mobile: 776px;
$m-mobile-medium: 650px;
$m-mobile-small: 500px;

$font-main: "Montserrat", sans-serif;

$color-main: #00598f;
$color-secondary: #40d88a;
$color-danger: #c03f53;
$color-grey: #f5f5f5;
$color-text: #95abc6;
$text-color-default: #232c3c;
$border-color: #e5ecf5;
$container: 1440px;

$--n-bezier: cubic-bezier(0.4, 0, 0.2, 1);
